
<!---

<link rel="stylesheet" type="text/css" href="/css/footer.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="footer ">
    <div class="container">
        <footer>
            <div class="wrapper">
                <h2>Get In Touch</h2>
                <div class="line"></div>
                <div class="address">&copy;2020 AU- Block (Outer Ring Road)
                    Pitampura, Delhi - 110034</div>
                <div class="address">If You Like our project, then you can contact us</div>
            </div>
            <div id="container">
                <div class="row" style="text-align: center">
                    <div class="col-3"><a href="http://www.github.com/vini7148" >Vinayak</a></div>
                    <div class="col-3"><a href="https://github.com/ankur190300/">Ankur</a></div>
                    <div class="col-3"><a href="http://www.github.com/khushi2305">Khushi</a></div>
                    <div class="col-3"><a href="http://www.github.com/suveb">Shoaib</a></div>
                </div>
            </div>
        </footer>
    </div>
</div>

-->