<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/sign-up.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">




<div class="container c1" >
    <h1>Sign Up</h1>
    <form method="POST" action="/school/create">
        <input class="i1" type="text" name="name" placeholder="School Name">
        <br>
        <input class="i1" type="email" name="email" placeholder="Email">
        <br>
        <input class="i1" type="password" name="password" placeholder="Password">
        <br>
        
        <input class="i1"  type="password" name="confirm_password" placeholder="Confirm Password">
        
        <div>
            
            <input class="btn btn-primary btn-lg" type= "submit" value= "Register">
        </div>

    </form>
</div>
<div></div>