body{
	background:url("https://static.vecteezy.com/system/resources/previews/000/418/228/non_2x/am-empty-school-background-vector.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
.c1{ 
	/*margin:200px 440px 400px 50px ;*/
	margin-left:100px;
	margin-top:100px;
   width:30%;
   padding:10px 20px;
   border: 5px solid rgba(36,55,150,0.3);
}
.i1{
	
	margin:10px auto;
	width:100%;

}
h1{
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size:4em;
}

body {
	height: 100%;
}
